*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
  overflow-x: hidden;

}
main{

     width: 100%;
}
main .background{
    width: 100vw;
    position: absolute;
    z-index: -9;
}
.background img{
    width: 100%;
}
main .logo{
    width: 100%;
     position: absolute;
     top: 10vh;
}
.logo img{
    width: 100%;
}
 section{
    width: 100%;
    position: absolute;
    top: 120vw;
}
section div svg{
    width: 100%; 
}
section .right{
    width: 100%;
    position: absolute;
    right: 0vw;
    top: 2vw; 
    overflow-x: hidden;
}
.right svg{
    width: 100%;
    position: absolute;
    right: -30vw;

}
section .left{
    width: 100%;
    position: absolute;
    left: -30vw;
    top: 55vw;

}
.textright{
    width: 100%;
    position: absolute;
    top: 28vw;
    display: flex;
    justify-content: end;
    z-index: 10;
}
.textright p{
    font-family: 'Times New Roman';
    width: 50%;
    text-align: center;
    font-size: 2.7vw;
    font-weight:600;
}
.textleft{
    width: 100%;
    position: absolute;
    top: 78vw;
    display: flex;
    justify-content: start;
    z-index: 10;
}
.textleft p{
   
    width: 45%;
    text-align: center;
    font-size: 2.3vw;
    font-weight: 450;
    line-height: 1.2;
}
.bigtext{
    font-size: 2.7vw;
    font-weight: 500;
}
